<h1>Strategy results</h1>

<table>
  <tr>
    <th>Trades</th>
    <th>Profit</th>
    <th>Profitability</th>
    <th>Trade count</th>
    <th>Average loss</th>
    <th>Average win</th>
    <th>Maximum loss</th>
    <th>Maximum win</th>
    <th>Buy percentage</th>
    <th>Buy win count</th>
    <th>Sell win count</th>
    <th>Average trade length</th>
    <th>OM count</th>
    <th>OM profit</th>
    <th>OM win percentage</th>
  </tr>

  <% @strategy_result_list[:data].each do |strategy_result| %>
      <tr>
        <td><a href="<%= strategy_result[:trade_list_url] %>">View</a></td>
        <td><%= strategy_result[:profit] %></td>
        <td><%= strategy_result[:profitability] %></td>
        <td><%= strategy_result[:trade_count] %></td>
        <td><%= strategy_result[:average_loss] %></td>
        <td><%= strategy_result[:average_win] %></td>
        <td><%= strategy_result[:maximum_loss] %></td>
        <td><%= strategy_result[:maximum_win] %></td>
        <td><%= strategy_result[:buy_percentage] %></td>
        <td><%= strategy_result[:buy_win_count] %></td>
        <td><%= strategy_result[:sell_win_count] %></td>
        <td><%= strategy_result[:average_trade_length] %></td>
        <td><%= strategy_result[:one_minute_trade_count] %></td>
        <td><%= strategy_result[:one_minute_trade_profit] %></td>
        <td><%= strategy_result[:one_minute_trade_win_percentage] %></td>
      </tr>
  <% end %>
</table>
<div class="pagination pagination-centered">
  <ul>
    <li>
      <a href="<%= @strategy_result_list[:prev_page_url] %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% @strategy_result_list[:pages].each do |page| %>
        <li><a href="<%=page[:url]%>"><%=page[:page_number]%></a></li>
    <% end %>
    <li>
      <a href="<%= @strategy_result_list[:next_page_url] %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>