<h1>Strategies</h1>
<table class="table table-hover table-condensed">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Parameter list</th>
    <th>Chart id</th>
  </tr>
  <% @all[:data].each do |strategy| %>
      <tr>
        <td><%= strategy[:id] %></td>
        <td><%= strategy[:name] %></td>
        <td><%= strategy[:parameter_list] %></td>
        <td><%= strategy[:chart_id] %></td>
      </tr>
  <% end %>
</table>
<div class="pagination pagination-centered">
  <ul>
    <li>
      <a href="<%= @all[:prev_page_url] %>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% @all[:pages].each do |page| %>
    <li><a href="<%=page[:url]%>"><%=page[:page_number]%></a></li>
    <% end %>
    <li>
      <a href="<%= @all[:next_page_url] %>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>