<!DOCTYPE html>
<html>
<head>
  <title>TradingStrategyResultAnalytics</title>
  <meta charset="utf-8" />
  <%= javascript_include_tag "lib/bootstrap/bootstrap.min" %>
  <%= javascript_include_tag "lib/babel-core/5.8.34/browser.min" %>
  <%= javascript_include_tag "lib/remarkable/1.6.2/remarkable.min" %>
  <%= stylesheet_link_tag "bootstrap.min.css", media: "screen" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="root"></div>

<%= yield %>
</body>
</html>
